body{
    color:rgb(150, 146, 146);
     
}


h1 {
    background: url('../images/apple-pie.jpg');
    padding: 350px;
    font-size: 50px;
    color: white;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  h2{
      color: rgb(65, 63, 63);
  }

  hr{
      width: 100%;
      margin-bottom: 40px;
  }
  
  .midle{
        margin: auto;
        width: 80%;
        padding: 60px;
      
  }

  .info{
        
        width: 500px;
        padding: 30px;
        margin-left: 300px;
  }

 .top{
    margin: auto;
    width: 50%;
    padding: 30px;
    font-size: 20px;
 }

 p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }


 li {
     list-style: none;
 }